###############################
# macOS 기본 파일
###############################
.DS_Store
.AppleDouble
.LSOverride

###############################
# Xcode 사용자 환경 파일
###############################
xcuserdata/
*.xcuserstate
*.xcscmblueprint

###############################
# 빌드 결과물
###############################
DerivedData/
build/
Build/

###############################
# SwiftPM
###############################
.swiftpm/
.package.resolved

###############################
# Xcode workspace 자동 생성 파일
###############################
project.xcworkspace/xcuserdata/
project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

###############################
# 시뮬레이터 / 디버그 관련 파일
###############################
*.dSYM
*.dSYM.zip
*.ipa

###############################
# 사용자 임시 파일
###############################
*.swp
*.swo
*.swm
*.tmp

###############################
# 환경 설정 파일 (.env 등)
###############################
*.env
.env.*
